// Nav bar components
nav.nav-bar {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 999;
}

.nav-bar-holder {
  width: 1192px;
  display: flex;
}

.nav-bar-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-bar-holder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.r-button {
  background: $r-green;
  display: flex;
  font-size: 17px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  height: 48px;
  border-radius: 36px;
  padding: 0px 24px;
  align-items: center;
  transition: 0.15s;
}

.black-button {
  font-size: 16px;
  font-weight: bolder;
  height: 100%;
  letter-spacing: 0.32px;
  line-height: 27px;
  color: $r-black;
  transition: 0.15s;
}

.black-button:hover {
  color: $r-green;
}

body.red-theme {
  .black-button:hover {
    color: $r-red;
  }
}

.r-button:hover {
  box-shadow: 0px 4px 8px rgba(0,0,0,0.16)
}

span.black-button {
  margin-right: 36px;
}

// Splash page components
.front-splash-container {
  width: 100%;
  display: flex;
}

.splash-container {
  display: flex;
}

.splash-section-container {
  margin-top: 72px;
  justify-content: center;
  width: 100%;
}

.splash-text {
  width: 310px;
  padding-top: 230px;
}

.front-splash {
  display: flex;
  margin: 0 auto;
}

.splash-text-header-container {
  margin-bottom: 36px;
}

.splash-text-header-container > h1 {
  font-size: 46px;
  font-weight: 900;
}

.splash-text-phrase-container {
  margin-bottom: 36px;
}

.splash-text-phrase-container > span {
  font-size: 16px;
}

.splash-text a {
  display: inline-block;
}

.img-background {
  width: 100%;
  z-index: 0;
}

div.splash-image {
  -webkit-animation-name: splash;
  -webkit-animation-duration: 2s;
  animation-name: splash;
  animation-duration: 1.5s;
}

.splash-image-bg {
  height: 740px;
  width: 922px;
}

@keyframes splash {
  0%, 20% {
    filter: blur(40px);
    opacity: 0;
    transform: translate(0px, 60px);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.splash-sidebar-index-header {
  padding: 0 24px;
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
}

.splash-index-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 24px;
}

.splash-index-item-label {
  flex-direction: column;
  display: flex;
}

.splash-index-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 24px;
}

.splash-index-item-wrapper {
  transition: 0.20s;
}

.splash-index-item-wrapper:hover {
  background-color: #f4f4f4;
}

.splash-sidebar-container {
  margin-left: 72px;
  width: 276px;
}

.splash-sidebar-wrapper {
  box-shadow: 0 0 4px 1px rgba(225, 225, 225, 0.01), 0 3px 24px rgba(225, 225, 225, 0.6);
  border-radius: 4px;
  margin-top: 72px;
  position: fixed;
  width: 276px;
}

.num-shares {
  padding-top: 3px;
}

.portfolio-container {
  max-height: 240px;
  overflow: scroll;
}

.splash-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.personal-links-container {
  color: #111;
  width: 1000px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-icon:hover {
  color: $r-green;
}

.personal-links {
  width: 175px;
  display: flex;
  justify-content: space-between;
}

.watchlist-container {
  max-height: 240px;
  overflow: scroll;
}

.tiny-chart {
  cursor: pointer;
}

.sidebar-symbol {
  font-weight: 600;
  font-size: 13px;
}

.sidebar-closing-price {
  font-weight: 500;
  font-size: 16px;
}

.hidden {
  visibility: hidden;
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input-wrapper {
  position: absolute;
  top: 5px;
  left: 60px;
}


.search-wrapper {
  margin-left: 100px;
  background: #white;
  height: 36px;
  width: 475px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  position: relative;

  &:hover, &:focus {
    border-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48,51,51,.09);

  .fa-search {
    color: #333;
    padding-left: 24px;
    padding-right: 16px;
  }
  }
}

.search-result {
  visibility: hidden;
  position: absolute;
}


.search-wrapper:focus-within {
  .search-result {
    visibility: visible;
    background: #fff; 
    margin-top: -8px;
    margin-left: -61px;
    width: 477px;
    // box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48,51,51,.09);
    box-shadow: 3px 2px 2px #fafafa, -3px 2px 2px #fafafa, 0px 3px 2px #fafafa, 0px 0px 2px #fafafa;
    border-radius: 4px;
  }
}


.fa-search {
  color: #f1f1f1;
  padding-left: 24px;
  padding-right: 16px;
}

.search-input {
  width: 400px;
  height: 24px;
  margin-bottom: 12px;
}

.search-item {
  height: 36px;
  display: flex;
  align-items: center;
}

.search-item:hover {
  background: $r-green;
}

.search-item-symbol {
  font-weight: 700;
  width: 50px;
  padding-left: 16px;
  padding-right: 24px;
}

.search-item-name {
  font-weight: 700;
}

.search-item-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}