.stock-about-container {
  margin-top: 40px;
}

.stock-about-container header {
  padding-bottom: 16px;
  border-bottom: 1px solid #ddd;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.14px;
}

.about-description-container {
  line-height: 22px;
  max-width: 570px;
}

.about-description-header {
  font-size: 16px;
  font-weight: 400;
}

.about-info {
  padding-top: 18px;
  display: flex;
  flex-wrap: wrap;
}

.about-info > * {
  flex-basis: calc(25% - 13px);
  margin: 0 6px 12px;
}

.about-info > *:nth-child(4n + 1) {
  margin-left: 0;
}

.about-info > * {
  font-size: 13px;
  font-weight: 400;
}

.website-link {
  color: $r-green;
}

body.red-theme .website-link {
  color: $r-red;
}

.about-info-label {
  padding-bottom: 4px;
  font-weight: 600;
}