.main-container {
  margin-bottom: 44px;
  width: 1024px;
  margin: 0 auto;
  display: flex
}

.stock-info-container {
  width: 676px;
}

.nav-logged-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.nav-logged-in-content {
  display: flex;
  width: 800px;
  height: 72px;
  justify-content: flex-end;
}