.main-container {
  margin-bottom: 44px;
  width: 1024px;
  margin: 0 auto;
  display: flex
}

.stock-info-container {
  width: 676px;
  margin-top: 72px;
}

.nav-container {
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: center;
  position: fixed;
  background: #fff;
  z-index: 999999999;
}

.nav-logged-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.nav-logged-in-links {
  display: flex;
  justify-content: space-between;
  width: 125px;
}

.nav-logged-in-content {
  display: flex;
  width: 1000px;
  height: 72px;
  justify-content: space-between;
}

.active-button {
  color: $r-green;
  border-bottom: 3px solid #21ce99;
}

.link {
  display: flex;
  align-items: center;
}

.nav-logo-container {
  display: flex;
  align-items: center;
}

.fa-feather-alt {
  transition: 0.20s
}

.fa-feather-alt:hover {
  color: $r-green;
}