nav.nav-bar {
  position: fixed;
  top: 0;
}

.splash-container {
  display: flex;
}

.splash-section-container {
  margin-top: 72px;
  justify-content: center;
}

.splash-text {
  width: 310px;
  padding-top: 230px;
}