.interval-nav {
  margin-top: 24px;
  margin-bottom: 16px;
}

.interval-btn {
  font-size: 13px;
  font-weight: 700;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 13px;
}

.active-interval {
  color: $r-green;
  border-bottom: 3px solid #21ce99;
  z-index: 1000;
}

.interval-nav {
  width: 676px;
  border-bottom: 1px solid #ddd;
  position: relative;
}